/* CSS Document */
body2 {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px; }
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
 
body {
	margin:0;
	padding:0;
	width:70%;
	margin: 0 auto;
	color:#fff;
	background-color:#D3D0D0
}
.header{
	text-align:center;
	font-size: 100px;
	color: gold;
	margin-top: 30px;
	margin-bottom : 10px;
	width:90%;
	height: auto;
	margin-left: 4%;
	background-color: #565252;
	font-family: "Broadway";
	font-style: oblique;
}
.header2{

	width: 90%;
	margin-left : 4%;
	height: auto;
}


ul {
    list-style-type: none;
    padding: 0;
    background-color:#565252;
    height:54px;
    width: 90%;
    text-align: center;
    margin:0 ;
    margin-top: 5px;
	margin-left: 4%;
	margin-bottom:10px;
	
}
.li-customize {
    float: left;
}
.li-customize a {
    display: inline-block;
    border-right: 1px solid #bbb;
    color: white;
    text-align: center;
    padding: 15px 16px;
	font-size:20px;
	font-family:"proxima nova";
	transition: .4s all ease-in-out;

}
.li-customize a:hover {
text-decoration:none;
background : #7f0b0b;
color : white;
transition: .4s all ease-in-out;	
}

.active{
	background-color:#821717;
}
.continut{
	width: 70%;
	min-height: 600px;
	background-color: #211f1f;
	margin-left: 4%;
	margin-top: 5px;
	margin-bottom:15px;
	border-style: inset;
	border-radius: 50px;
	border-width: 5px;
	float : left;
}
.rightside{
width:17%;
float:right;
background-color:#565252;
min-height: 600px;
margin-right: 6%;
margin-top:5px;
margin-bottom : 5px;
border-radius: 10px;
}
.footer{
	width: 90%;
	height: 30px;
	margin-left: 4%;
	margin-right: 4%;
	background-color:#565252;
	font-family:Candara;
	clear : both;
	margin-top: 5px;
	margin-bottom: 55px;
}

.paddingg {
    padding-left: 10px;
}
.register{
	width: 600px;
	height:500px;
	background-color: #b8b894;
	margin-left: 350px;
	margin-top: 5px;
	text-align: center;
	color: black;
}
.formular{
	margin-top: 50px;
	margin-left: 50px;
}


#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#ffff66;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }
	
#chatbox2  {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#ffff66;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }

/* Style for login page*/

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
